<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Einstellungen: {{ student.full_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <style>

        
    </style>
</head>
<body>
    <div class="page-container">
        <h1>Einstellungen für {{ student.full_name }}</h1>

        <div class="card">
            
            <p><strong>ID:</strong> {{ student.id }}</p>
            <p><strong>Name:</strong> {{ student.full_name }}</p>
            <p><strong>Klasse:</strong> {{ student.student_class if student.student_class}}</p>
            <p><strong>Aktueller Status:</strong> 
               {{ 'Anwesend' if student.present else 'Abwesend' }}
            </p>

            <hr>
            <form method="POST" action="{{ url_for('home.settings', student_id=student.id) }}">
                
                <div style="margin-bottom: 20px;">
                    <label for="klasse" style="display:block; font-weight:bold; margin-bottom:5px;">Name ändern:</label>
                    
                    <input type="text" 
                        id="full_name" 
                        name="input_name" 
                        value="{{ student.full_name if student.full_name else '' }}" 
                        
                        style="padding: 10px; width: 100%; max-width: 300px; border: 1px solid #ccc; border-radius: 5px;">
                </div>

            
                <div style="margin-bottom: 20px;">
                    <label for="klasse" style="display:block; font-weight:bold; margin-bottom:5px;">Klasse ändern:</label>
                    
                    <input type="text" 
                        id="klasse" 
                        name="input_class" 
                        value="{{ student.student_class if student.student_class else '' }}" 
                        
                        style="padding: 10px; width: 100%; max-width: 300px; border: 1px solid #ccc; border-radius: 5px;">
                </div>

                
                

                <button type="submit" class="action-button" style="background-color: #28a745;">
                    Speichern
                </button>

            </form>

        <hr style="margin: 30px 0;">
            
            <a href="{{ url_for('home.delete_student', student_id=student.id) }}" class="testButton"> Schüler löschen </a>
            <a href="{{ url_for('home.home') }}" class="action-button">Zurück</a>
        </div>
    </div>
</body>
</html>